# 允许以下网络接口访问：ap+(无线热点)、wlan+(无线 WiFi)、rndis+(USB 共享)、swlan+(虚拟 WiFi)、ncm+(USB 数据卡)、eth+(有线网络)
# 语法：allow <接口名称>
allow ap+
allow wlan+
allow rndis+
allow swlan+
allow ncm+
allow eth+
# -----------------🌼🌼----------------------- #
# 忽略指定的网络接口
# 语法：ignore <接口名称>
# 示例：
# ignore wlan0
# ignore swlan0
# ignore wlan+
