# Google防火墙拦截规则清理
# 0 */12 * * * /data/adb/box/scripts/box.tool gfw

# USB调试定时关闭
# 10 07 * * * /data/adb/box/scripts/box.tool adb_disable

# Sub store定时同步
# 45 06 * * * /data/adb/ksu/bin/busybox wget -q -O /dev/null "http://127.0.0.1:3000/api/sync/artifacts"
